/*admin/client/index样式重置BEGIN*/
/*多选select 时间范围选择*/
.el-select {
	width:100%;
}
.el-date-editor--daterange.el-input{
	width:100%;
}
/*底部表格样式重置*/
.el-table{
    font-size:13px;
}
.el-table .cell{
	line-height:1.4;
}
/*分页*/
.el-pagination{
	text-align:right;
	padding:8px 0;
}
/*底部选择器 添加类名table right_radius left_radius*/
.table_cell{
	display:table-cell;
}
.right_radius .el-input .el-input__inner{
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
}  
.left_radius.el-button{
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}
/*admin/client/index样式重置END*/

/*admin/approval/account样式重置BEGIN*/
.right_radius .el-input__inner{
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}
/*admin/approval/account样式重置END*/

/*admin/approval/deposit样式重置BEGIN  添加类名Width150*/
.Width150.el-select .el-input {
	  width: 150px;  
}
/*admin/approval/deposit样式重置END*/

/*全屏按钮bug，隐藏掉*/
.btn-fullscreen{
	display:none!important;
}
